@font-face {font-family: "Encorpada Classic W01 Light It";
  src: url("../fonts/b5621f0e559c3487c230afc109764d93.eot"); /* IE9*/
  src: url("../fonts/b5621f0e559c3487c230afc109764d93.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/b5621f0e559c3487c230afc109764d93.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/b5621f0e559c3487c230afc109764d93.woff") format("woff"), /* chrome、firefox */
  url("../fonts/b5621f0e559c3487c230afc109764d93.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/b5621f0e559c3487c230afc109764d93.svg#Encorpada Classic W01 Light It") format("svg"); /* iOS 4.1- */
}

ul
{
    list-style-type: none;
}

