body {
  padding-top: 50px;

iframe {
  overflow: hidden;
}

}
.wed-head {
  padding: 10px 15px;
  text-align: center;
}

.wed-head h1
{
  font-family: 'Lato', sans-serif;
	font-style:normal;
	font-weight: normal;
  letter-spacing: 8px;
}

.wed-head h2,
.wed-head h3
{
  font-family: 'Pinyon Script', cursive;
  font-style:normal;
  font-weight: bold;
  letter-spacing: 1px;
}

.wed-head h4
{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-style:normal;
  font-weight: bold;
  letter-spacing: 1px;
}

.bg-1, .bg-3 {
  background-color:#b5ccc1;
  border-style: solid;
  border-width: 0px;
  border-color: #DAD7C5;
  border-right-width: 20px;
  border-left-width: 20px;

}

.bg-4, .bg-2 {
  border-style: solid;
  border-width: 0px;
  border-color: #DAD7C5;
  border-right-width: 20px;
  border-left-width: 20px;
}

.gmap-container {
	height: 450px;
	width: 450px;
	position: relative;
}

.border {
  border-top: double #DAD7C5 5px;
  border-bottom: double #DAD7C5 5px;
  padding-top: 10px; 
  padding-bottom: 10px;
}

#gmap {
	height: 100%;
	width: 100%;
	background-color: #CCC;
	margin: 20px;
}


figure {
  margin-top:20px;
  position:relative;
  width: 100%;
  overflow:hidden;
}


figure img {
  margin-top:20px;
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 190px);
}

li,
p {
  font-family: 'Libre Baskerville', serif;
}

.mos-img-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.mos-img-wrap img {
  height: auto;
  max-width: 75%;
  border: 5px;
  border-radius: 24px;
}

@media (max-width: 425px) {

.gmap-container { 
  height: 380px;
  width: 380px;
  position: relative;

}

.bg-1, .bg-3 {
  background-color:white;
  border-style: solid;
  border-width: 0px;
  border-color: #e5d49e;
  border-right-width: 0px;
  border-left-width: 0px;

}

.bg-4, .bg-2 {
  background-color:#81a895;
  border-style: solid;
  border-width: 0px;
  border-color: #e5d49e;
  border-right-width: 0px;
  border-left-width: 0px;
}

}